@font-face {
    font-family: Zaplyv-Heavy;
    src: url(hh.otf);
   }
   
body {
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.center {
    font-family: Zaplyv-Heavy;
    font-size: 8vmax;
}

#logo {
    background-image: url(logo.jpg);
    background-size: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}